@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

#root {
    min-height: 100%;
    background-color: #f0f9f4;
}

.page {
    width: min(125ch, calc(100% - 4rem));
    margin-inline: auto;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

@layer components {
    .input {
        @apply w-full my-1 border border-solid border-slate-300 rounded px-4 py-0.5 placeholder:text-slate-500 placeholder:italic;
    }

    .button {
        @apply rounded-full p-1 font-normal w-24 mt-1;
    }
}